<div class="flex vertical">
  <div class="flex">
    <span class="icon">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.0274 16.5341H19.6724C21.1102 16.5105 23.3096 17.2676 23.3096 19.9991C23.3096 22.8341 20.5961 23.31 19.6713 23.31H7.49882C4.67732 23.31 0.80957 22.7374 0.80957 17.8763V7.56225H23.3096V12.6439M18.2493 14.283L16.3346 15.8805C16.2412 15.9622 16.1657 16.0624 16.1128 16.1746C16.0599 16.2869 16.0309 16.4089 16.0274 16.533C16.0243 16.6654 16.0504 16.7969 16.1038 16.918C16.1573 17.0392 16.2369 17.147 16.3368 17.2339L18.2493 18.7898M0.81632 7.54987L1.85245 4.96237C2.69395 2.94975 3.1147 1.944 3.96745 1.37812C4.8202 0.812248 5.9137 0.809998 8.09957 0.809998H15.9971C18.1841 0.809998 19.2776 0.809997 20.1303 1.377C20.9831 1.94287 21.4027 2.94862 22.2453 4.96012L23.3096 7.55437M12.0179 7.56112V0.811122M9.76795 12.0611H14.2679" stroke="#FB0101" stroke-width="1.62" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    30-day easy returns & exchanges
  </div>

  <div class="flex">
    <span class="icon">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.0274 16.5341H19.6724C21.1102 16.5105 23.3096 17.2676 23.3096 19.9991C23.3096 22.8341 20.5961 23.31 19.6713 23.31H7.49882C4.67732 23.31 0.80957 22.7374 0.80957 17.8763V7.56225H23.3096V12.6439M18.2493 14.283L16.3346 15.8805C16.2412 15.9622 16.1657 16.0624 16.1128 16.1746C16.0599 16.2869 16.0309 16.4089 16.0274 16.533C16.0243 16.6654 16.0504 16.7969 16.1038 16.918C16.1573 17.0392 16.2369 17.147 16.3368 17.2339L18.2493 18.7898M0.81632 7.54987L1.85245 4.96237C2.69395 2.94975 3.1147 1.944 3.96745 1.37812C4.8202 0.812248 5.9137 0.809998 8.09957 0.809998H15.9971C18.1841 0.809998 19.2776 0.809997 20.1303 1.377C20.9831 1.94287 21.4027 2.94862 22.2453 4.96012L23.3096 7.55437M12.0179 7.56112V0.811122M9.76795 12.0611H14.2679" stroke="#FB0101" stroke-width="1.62" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    Secure checkout with SSL encryption
  </div>
</div>
