<div class="flex vertical">
  <div class="checkout-black flex items-center justify-center">
    <span class="icon">
      <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.625 8.4375H16.875V5.625C16.875 4.13316 16.2824 2.70242 15.2275 1.64752C14.1726 0.592632 12.7418 0 11.25 0C9.75816 0 8.32742 0.592632 7.27252 1.64752C6.21763 2.70242 5.625 4.13316 5.625 5.625V8.4375H1.875C1.37772 8.4375 0.900805 8.63504 0.549175 8.98668C0.197544 9.33831 0 9.81522 0 10.3125V23.4375C0 23.9348 0.197544 24.4117 0.549175 24.7633C0.900805 25.115 1.37772 25.3125 1.875 25.3125H20.625C21.1223 25.3125 21.5992 25.115 21.9508 24.7633C22.3025 24.4117 22.5 23.9348 22.5 23.4375V10.3125C22.5 9.81522 22.3025 9.33831 21.9508 8.98668C21.5992 8.63504 21.1223 8.4375 20.625 8.4375ZM7.5 5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875C12.2446 1.875 13.1984 2.27009 13.9016 2.97335C14.6049 3.67661 15 4.63044 15 5.625V8.4375H7.5V5.625ZM20.625 23.4375H1.875V10.3125H20.625V23.4375ZM12.6562 16.875C12.6562 17.1531 12.5738 17.425 12.4193 17.6563C12.2647 17.8875 12.0451 18.0678 11.7881 18.1742C11.5312 18.2806 11.2484 18.3085 10.9757 18.2542C10.7029 18.2 10.4523 18.066 10.2556 17.8694C10.059 17.6727 9.92503 17.4221 9.87077 17.1493C9.81651 16.8766 9.84436 16.5938 9.95079 16.3369C10.0572 16.0799 10.2375 15.8603 10.4687 15.7057C10.7 15.5512 10.9719 15.4688 11.25 15.4688C11.623 15.4688 11.9806 15.6169 12.2444 15.8806C12.5081 16.1444 12.6562 16.502 12.6562 16.875Z" fill="white"/>
      </svg>
    </span>
    <span class="text"> cHECKUP SECURELY</span>
  </div>
  {% render 'payment-icons' %}
</div>
