<div class="flex vertical">
  <div class="flex">
    <span class="icon">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.0274 16.5341H19.6724C21.1102 16.5105 23.3096 17.2676 23.3096 19.9991C23.3096 22.8341 20.5961 23.31 19.6713 23.31H7.49882C4.67732 23.31 0.80957 22.7374 0.80957 17.8763V7.56225H23.3096V12.6439M18.2493 14.283L16.3346 15.8805C16.2412 15.9622 16.1657 16.0624 16.1128 16.1746C16.0599 16.2869 16.0309 16.4089 16.0274 16.533C16.0243 16.6654 16.0504 16.7969 16.1038 16.918C16.1573 17.0392 16.2369 17.147 16.3368 17.2339L18.2493 18.7898M0.81632 7.54987L1.85245 4.96237C2.69395 2.94975 3.1147 1.944 3.96745 1.37812C4.8202 0.812248 5.9137 0.809998 8.09957 0.809998H15.9971C18.1841 0.809998 19.2776 0.809997 20.1303 1.377C20.9831 1.94287 21.4027 2.94862 22.2453 4.96012L23.3096 7.55437M12.0179 7.56112V0.811122M9.76795 12.0611H14.2679" stroke="#FB0101" stroke-width="1.62" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    30-day easy returns & exchanges
  </div>

  <div class="flex">
    <span class="icon">
      <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.0063 8.18437H16.3687V5.45625C16.3687 4.00916 15.7939 2.62134 14.7707 1.5981C13.7474 0.574853 12.3596 0 10.9125 0C9.46541 0 8.07759 0.574853 7.05435 1.5981C6.0311 2.62134 5.45625 4.00916 5.45625 5.45625V8.18437H1.81875C1.33639 8.18437 0.873781 8.37599 0.532699 8.71708C0.191618 9.05816 0 9.52076 0 10.0031V22.7344C0 23.2167 0.191618 23.6793 0.532699 24.0204C0.873781 24.3615 1.33639 24.5531 1.81875 24.5531H20.0063C20.4886 24.5531 20.9512 24.3615 21.2923 24.0204C21.6334 23.6793 21.825 23.2167 21.825 22.7344V10.0031C21.825 9.52076 21.6334 9.05816 21.2923 8.71708C20.9512 8.37599 20.4886 8.18437 20.0063 8.18437ZM7.275 5.45625C7.275 4.49153 7.65824 3.56631 8.3404 2.88415C9.02256 2.20199 9.94777 1.81875 10.9125 1.81875C11.8772 1.81875 12.8024 2.20199 13.4846 2.88415C14.1668 3.56631 14.55 4.49153 14.55 5.45625V8.18437H7.275V5.45625ZM20.0063 22.7344H1.81875V10.0031H20.0063V22.7344ZM12.2766 16.3687C12.2766 16.6385 12.1966 16.9023 12.0467 17.1266C11.8968 17.3509 11.6838 17.5257 11.4345 17.629C11.1853 17.7322 10.911 17.7592 10.6464 17.7066C10.3818 17.654 10.1387 17.5241 9.94796 17.3333C9.75719 17.1425 9.62728 16.8995 9.57465 16.6349C9.52201 16.3703 9.54903 16.096 9.65227 15.8467C9.75551 15.5975 9.93035 15.3845 10.1547 15.2346C10.379 15.0847 10.6427 15.0047 10.9125 15.0047C11.2743 15.0047 11.6212 15.1484 11.877 15.4042C12.1328 15.66 12.2766 16.007 12.2766 16.3687Z" fill="#FB0101"/>
      </svg>
    </span>
    Secure checkout with SSL encryption
  </div>
</div>
