{% stylesheet %}
  .pay-securely .text {
    text-transform: uppercase;
    color: #5c5c5c;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
{% endstylesheet %}

<div class="flex vertical pay-securely">
  <div class="flex items-center justify-center">
    <span class="icon">
      <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6875 4.78125H9.5625V3.1875C9.5625 2.34212 9.22668 1.53137 8.6289 0.933597C8.03113 0.335825 7.22038 0 6.375 0C5.52962 0 4.71887 0.335825 4.1211 0.933597C3.52332 1.53137 3.1875 2.34212 3.1875 3.1875V4.78125H1.0625C0.780707 4.78125 0.510456 4.89319 0.311199 5.09245C0.111942 5.29171 0 5.56196 0 5.84375V13.2812C0 13.563 0.111942 13.8333 0.311199 14.0326C0.510456 14.2318 0.780707 14.3438 1.0625 14.3438H11.6875C11.9693 14.3438 12.2395 14.2318 12.4388 14.0326C12.6381 13.8333 12.75 13.563 12.75 13.2812V5.84375C12.75 5.56196 12.6381 5.29171 12.4388 5.09245C12.2395 4.89319 11.9693 4.78125 11.6875 4.78125ZM4.25 3.1875C4.25 2.62391 4.47388 2.08341 4.8724 1.6849C5.27091 1.28638 5.81141 1.0625 6.375 1.0625C6.93859 1.0625 7.47909 1.28638 7.8776 1.6849C8.27612 2.08341 8.5 2.62391 8.5 3.1875V4.78125H4.25V3.1875ZM11.6875 13.2812H1.0625V5.84375H11.6875V13.2812ZM7.17188 9.5625C7.17188 9.72011 7.12514 9.87417 7.03758 10.0052C6.95002 10.1363 6.82556 10.2384 6.67995 10.2987C6.53434 10.359 6.37412 10.3748 6.21954 10.3441C6.06496 10.3133 5.92297 10.2374 5.81152 10.126C5.70008 10.0145 5.62418 9.87254 5.59344 9.71796C5.56269 9.56338 5.57847 9.40316 5.63878 9.25755C5.6991 9.11194 5.80123 8.98748 5.93228 8.89992C6.06333 8.81236 6.21739 8.76562 6.375 8.76562C6.58634 8.76562 6.78903 8.84958 6.93848 8.99902C7.08792 9.14847 7.17188 9.35116 7.17188 9.5625Z" fill="#5C5C5C"/>
      </svg>
    </span>
    <span class="text">Pay Securely With</span>
  </div>
  {% render 'payment-icons' %}
</div>
