{% liquid
  assign id = 'now' | date: '%N' | modulo: 100
  assign id = 'BuyButtons-ProductSubmitButton-' | append: id
  assign class = 'add-to-cart-button '
  assign id = 'BuyButtons-ProductSubmitButton-' | append: id
%}

<span>
  {% render 'add-to-cart-button',
    id: id,
    class: class,
    can_add_to_cart: product.available,
    product: product,
    add_to_cart_text: 'test',
    data_testid: 'standalone-add-to-cart'
  %}
</span>
