{% stylesheet %}
  .btn-share {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
  }
{% endstylesheet %}

<div class="btn-share button">Share</div>

<script></script>
