{% stylesheet %}
  .btn-share {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
  }

  .btn-share {
    background-color: white;
    border: 1px solid #d9d9d9;
    color: black;
    border-radius: 3px;
    padding: 9px 14px;
  }
{% endstylesheet %}

{% if template.name == 'product' %}
  <div class="btn-share button flex items-center gap-10">
    <span class="icon">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.0013 1.9991C12.7361 1.9991 12.4817 2.10447 12.2942 2.29201C12.1066 2.47956 12.0013 2.73393 12.0013 2.99917C12.0013 3.2644 12.1066 3.51877 12.2942 3.70632C12.4817 3.89387 12.7361 3.99924 13.0013 3.99924C13.2666 3.99924 13.5209 3.89387 13.7085 3.70632C13.896 3.51877 14.0014 3.2644 14.0014 2.99917C14.0014 2.73393 13.896 2.47956 13.7085 2.29201C13.5209 2.10447 13.2666 1.9991 13.0013 1.9991ZM10.0011 2.99917C10.0014 2.30741 10.2406 1.63698 10.6785 1.10139C11.1163 0.565802 11.7257 0.197962 12.4036 0.0601467C13.0815 -0.0776692 13.7862 0.0230071 14.3984 0.345131C15.0106 0.667254 15.4926 1.19103 15.763 1.82779C16.0333 2.46455 16.0753 3.17516 15.8818 3.83931C15.6883 4.50347 15.2713 5.08036 14.7013 5.47233C14.1313 5.86429 13.4433 6.04724 12.7539 5.9902C12.0645 5.93315 11.416 5.63963 10.9182 5.15932L5.97785 7.62948C6.00839 7.87522 6.00839 8.1238 5.97785 8.36953L10.9182 10.8397C11.4277 10.3486 12.0945 10.0533 12.8006 10.0062C13.5068 9.95914 14.2069 10.1632 14.7771 10.5823C15.3474 11.0015 15.7511 11.6087 15.917 12.2967C16.0828 12.9847 16.0001 13.7092 15.6835 14.3421C15.3668 14.9751 14.8366 15.4757 14.1866 15.7555C13.5365 16.0353 12.8085 16.0764 12.1311 15.8713C11.4538 15.6663 10.8707 15.2284 10.4849 14.6351C10.0992 14.0417 9.93561 13.3311 10.0231 12.6288L5.08279 10.1587C4.65899 10.5673 4.12432 10.8423 3.54537 10.9493C2.96643 11.0562 2.36881 10.9905 1.82695 10.7603C1.28509 10.5301 0.822944 10.1455 0.498082 9.65449C0.17322 9.16348 0 8.58775 0 7.99901C0 7.41026 0.17322 6.83453 0.498082 6.34353C0.822944 5.85253 1.28509 5.46796 1.82695 5.23772C2.36881 5.00749 2.96643 4.94177 3.54537 5.04875C4.12432 5.15573 4.65899 5.43069 5.08279 5.83936L10.0231 3.36919C10.0082 3.24642 10.0008 3.12285 10.0011 2.99917ZM3.00064 6.99944C2.73541 6.99944 2.48104 7.1048 2.29349 7.29235C2.10594 7.4799 2.00058 7.73427 2.00058 7.99951C2.00058 8.26474 2.10594 8.51911 2.29349 8.70666C2.48104 8.89421 2.73541 8.99958 3.00064 8.99958C3.26588 8.99958 3.52025 8.89421 3.7078 8.70666C3.89535 8.51911 4.00071 8.26474 4.00071 7.99951C4.00071 7.73427 3.89535 7.4799 3.7078 7.29235C3.52025 7.1048 3.26588 6.99944 3.00064 6.99944ZM13.0013 11.9998C12.7361 11.9998 12.4817 12.1051 12.2942 12.2927C12.1066 12.4802 12.0013 12.7346 12.0013 12.9998C12.0013 13.2651 12.1066 13.5195 12.2942 13.707C12.4817 13.8946 12.7361 13.9999 13.0013 13.9999C13.2666 13.9999 13.5209 13.8946 13.7085 13.707C13.896 13.5195 14.0014 13.2651 14.0014 12.9998C14.0014 12.7346 13.896 12.4802 13.7085 12.2927C13.5209 12.1051 13.2666 11.9998 13.0013 11.9998Z" fill="black"/>
      </svg>
    </span>
    Share
  </div>
{% endif %}

<script>
  const shareButton = document.querySelector('.btn-share');
  shareButton.addEventListener('click', async () => {
    if (navigator.share) {
      try {
        await navigator.share({
          title: '{{ product.title }}', // Gets the title of the current page
          text: 'Check out this interesting page!',
          url: '{{ product.url }}', // Gets the current page's URL
        });
        console.log('Content shared successfully!');
        // statusEl.textContent = 'Shared successfully!';
      } catch (error) {
        console.error('Error sharing:', error);
        // statusEl.textContent = 'Error sharing: ' + error.message;
      }
    } else {
      // Fallback for browsers that do not support the Web Share API
      alert('Your browser does not support the Web Share API. You can copy the URL manually.');
      // You can also provide a traditional social media share button UI here as a fallback
    }
  });
</script>
