{% liquid
  assign tagged_articles = blogs.news.articles | where: 'tags', 'featured'
%}

<div class="grid">
  {% for article in tagged_articles %}
    <div class="col"></div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Blogs",
  "class": "featured-blogs",
  "settings": []
}
{% endschema %}
