{% stylesheet %}
  .featured-blogs .col {
    background-color: white;
    color: black;
    padding: 40px 30px;
    gap: 40px;
  }

  .featured-blogs h5 {
    text-transform: uppercase;
  }

  .featured-blogs .content {
  }

  .featured-blogs .number {
    color: #5c5c5c;
    font-size: 32px;
    font-weight: 600;
  }
{% endstylesheet %}

{% liquid
  assign tagged_articles = blogs.news.articles
  assign current = 1
%}

<div class="grid cols-2">
  {% for article in tagged_articles %}
    {% if article.tags contains 'featured' %}
      <div class="col flex">
        <div class="number">#{{ current }}</div>
        <div class="content">
          <h5>{{ article.title }}</h5>
        </div>
      </div>
      {% assign current = current | plus: 1 %}
    {% endif %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Featured Blogs",
  "class": "featured-blogs",
  "settings": [],
  "presets": [
    {
      "name": "Featured Blogs"
    }
  ]
}
{% endschema %}
