{% liquid
  assign tagged_articles = blogs.news.articles
  assign current = 1
%}

<div class="grid cols-2">
  {% for article in tagged_articles %}
    {% if article.tags contains 'featured' %}
      <div class="col flex">
        <div class="number">#{{ current }}</div>
        <div class="content">
          <h5>{{ article.title }}</h5>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Featured Blogs",
  "class": "featured-blogs",
  "settings": [],
  "presets": [
    {
      "name": "Featured Blogs"
    }
  ]
}
{% endschema %}
