{% assign featured_articles = '' | split: '' %}

{% for article in blogs.news.articles %}
  {% if article.tags contains 'featured' %}
    {{ article.tags }}
    {% assign featured_articles = featured_articles | slice: forloop.index0 | concat: featured_articles %}
  {% endif %}
{% endfor %}

{% assign featured_articles = featured_articles | reverse %}

<div class="grid cols-2">
  {% for article in featured_articles %}
    <div class="col flex">
      <div class="number">#{{ forloop.index }}</div>
      <div class="content">
        <h5>{{ article.title }}</h5>
      </div>
    </div>
  {% else %}
    <p>No hay artículos destacados.</p>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Featured Blogs",
  "class": "featured-blogs",
  "settings": [],
  "presets": [
    {
      "name": "Featured Blogs"
    }
  ]
}
{% endschema %}
