{% liquid
  assign desired_tag = 'featured'
%}

<div class="grid">
  {% for article in blogs.news.articles %}
    {% if article.tags contains desired_tag %}
      <div class="col"></div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Blogs",
  "class": "featured-blogs",
  "settings": []
}
{% endschema %}
