{% stylesheet %}
  .size-charts {
    width: 100%;
  }

  .table-size-chart {
    border: 1px solid #d9d9d9;
  }

  .size-charts .table-head > *,
  .size-charts .table-body > .flex * {
    width: 12.5%;
    padding: 19px 12px;
  }

  .size-charts .table-head {
    font-weight: bold;
  }
{% endstylesheet %}

<div class="flex justify-between">
  <div class="h2">Size Chart (XSS-XXL)</div>
  <div class="flex switcher"></div>
</div>

<div class="table-size-chart">
  <div class="flex table-head">
    <div>Size</div>
    <div>XSS</div>
    <div>XS</div>
    <div>S</div>
    <div>M</div>
    <div>L</div>
    <div>XL</div>
    <div>XXL</div>
  </div>

  <div class="table-body">
    <div class="flex">
      <strong>Bust (<span class="unit">cm</span>)</strong>
      <div>70 - 76</div>
      <div>76 - 83</div>
      <div>83 - 90</div>
      <div>90 - 97</div>
      <div>97 - 104</div>
      <div>104 - 114</div>
      <div>114 - 124</div>
    </div>

    <div class="flex">
      <strong>Waist (<span class="unit">cm</span>)</strong>
      <div>54 - 60</div>
      <div>60 - 67</div>
      <div>67 - 74</div>
      <div>74 - 81</div>
      <div>81 - 88</div>
      <div>88 - 98</div>
      <div>98 - 108</div>
    </div>

    <div class="flex">
      <strong>Hip (<span class="unit">cm</span>)</strong>
      <div>78 - 84</div>
      <div>84 - 91</div>
      <div>91 - 98</div>
      <div>98 - 105</div>
      <div>105 - 112</div>
      <div>112 - 120</div>
      <div>120 - 128</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Size Charts",
  "class": "size-charts",
  "settings": [],
  "presets": [
    {
      "name": "Size Charts"
    }
  ]
}
{% endschema %}
