<div class="flex justify-between">
  <div class="h2">Size Chart (XSS-XXL)</div>
  <div class="flex switcher"></div>
</div>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>XSS</th>
      <th>XS</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>XXL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bust (<span class="unit">cm</span>)</th>
      <td>70 - 76</td>
      <td>76 - 83</td>
      <td>83 - 90</td>
      <td>90 - 97</td>
      <td>97 - 104</td>
      <td>104 - 114</td>
      <td>114 - 124</td>
    </tr>
    <tr>
      <th scope="row">Waist (<span class="unit">cm</span>)</th>
      <td>70 - 76</td>
      <td>76 - 83</td>
      <td>83 - 90</td>
      <td>90 - 97</td>
      <td>97 - 104</td>
      <td>104 - 114</td>
      <td>114 - 124</td>
    </tr>
  </tbody>
</table>

{% schema %}
{
  "name": "Size Charts",
  "class": "size-charts",
  "settings": [],
  "presets": [
    {
      "name": "Size Charts"
    }
  ]
}
{% endschema %}
