<div class="flex justify-between">
  <div class="h2">Size Chart (XSS-XXL)</div>
  <div class="flex switcher"></div>
</div>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>XSS</th>
      <th>XS</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>XXL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Donuts</th>
      <td>3,000</td>
    </tr>
    <tr>
      <th scope="row">Stationery</th>
      <td>18,000</td>
    </tr>
  </tbody>
</table>

{% schema %}
{
  "name": "Size Charts",
  "class": "size-charts",
  "settings": [],
  "presets": [
    {
      "name": "Size Charts"
    }
  ]
}
{% endschema %}
