{% stylesheet %}
  .size-charts {
    width: 100%;
  }
{% endstylesheet %}

<div class="flex justify-between">
  <div class="h2">Size Chart (XSS-XXL)</div>
  <div class="flex switcher"></div>
</div>

<div class="table-size-chart">
  <div class="flex table-head">
    <div>Size</div>
    <div>XSS</div>
    <div>XS</div>
    <div>S</div>
    <div>M</div>
    <div>L</div>
    <div>XL</div>
    <div>XXL</div>
  </div>

  <div class="table-body">
    <div class="flex">
      <div class="bold">Bust (<span class="unit">cm</span>)</div>
      <div>70 - 76</div>
      <div>76 - 83</div>
      <div>83 - 90</div>
      <div>90 - 97</div>
      <div>97 - 104</div>
      <div>104 - 114</div>
      <div>114 - 124</div>
    </div>

    <div class="flex">
      <div class="bold">Waist (<span class="unit">cm</span>)</div>
      <div>54 - 60</div>
      <div>60 - 67</div>
      <div>67 - 74</div>
      <div>74 - 81</div>
      <div>81 - 88</div>
      <div>88 - 98</div>
      <div>98 - 108</div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>XSS</th>
      <th>XS</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
      <th>XXL</th>
    </tr>
  </thead>
  <tbody>
    <tr></tr>
    <tr>
      <th scope="row">Hip (<span class="unit">cm</span>)</th>
      <td>78 - 84</td>
      <td>84 - 91</td>
      <td>91 - 98</td>
      <td>98 - 105</td>
      <td>105 - 112</td>
      <td>112 - 120</td>
      <td>120 - 128</td>
    </tr>
  </tbody>
</table>

{% schema %}
{
  "name": "Size Charts",
  "class": "size-charts",
  "settings": [],
  "presets": [
    {
      "name": "Size Charts"
    }
  ]
}
{% endschema %}
