<div class="embla">
  <div class="embla__viewport">
    <div class="embla__container"></div>
  </div>
</div>

{% schema %}
{
  "name": "story carousel",
  "class": "story-carousel",
  "blocks": [
    {
      "type": "story-carousel-item"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "story carousel"
    }
  ]
}
{% endschema %}
