{% liquid
  assign blocks = section.blocks
%}

{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  {% for item in blocks %}
    <div class="embla__item">
      {{ item }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Below Hero",
  "class": "below hero",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "below hero"
    }
  ]
}
{% endschema %}
