{% liquid
  assign blocks = section.blocks
%}

{% stylesheet %}
  .below-hero {
    padding: 20px 0;
  }

  .below-hero .flex {
    justify-content: space-between;
  }
{% endstylesheet %}

<div class="section-background color-scheme-2" bis_skin_checked="1"></div>
<div class="section section--page-width color-{{ section.settings.color_scheme }}">
  <div class="flex">
    {% for item in blocks %}
      <div class="embla__item">
        {{ item.settings.text }}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Below Hero",
  "class": "below-hero",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "below hero"
    }
  ]
}
{% endschema %}
