{% stylesheet %}
{% endstylesheet %}

<div></div>

{% schema %}
{
  "name": "Below Hero",
  "class": "below hero",
  "settings": [],
  "blocks": [
    {
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "below hero"
    }
  ]
}
{% endschema %}
