{% liquid
  assign blocks = section.blocks
%}

{% stylesheet %}
{% endstylesheet %}

<div class="section section--page-width color-{{ section.settings.color_scheme }}">
  <div class="flex">
    {% for item in blocks %}
      <div class="embla__item">
        {{ item.settings.text }}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Below Hero",
  "class": "below hero",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "below hero"
    }
  ]
}
{% endschema %}
