{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "mega menu about",
  "class": "mega-menu-about",
  "settings": [],
  "blocks": [
    {
      "type": "mega-menu-item"
    }
  ],
  "presets": [
    {
      "name": "mega menu about"
    }
  ]
}
{% endschema %}
