{% stylesheet %}
  .mega-menu-about {
    margin-left: auto;
    max-width: 600px;
  }

  .mega-menu-about h5 {
    text-transform: uppercase;
    padding-top: 13px;
    font-weight: 600;
  }
{% endstylesheet %}

<div class="flex">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "mega menu about",
  "class": "mega-menu-about hide",
  "settings": [],
  "blocks": [
    {
      "type": "mega-menu-item"
    }
  ],
  "presets": [
    {
      "name": "mega menu about"
    }
  ]
}
{% endschema %}
