<div class="hide">
  <div class="popup-content"></div>
</div>

<script src="{{ 'popup.min.js' | asset_url }}" defer></script>
<script defer></script>

{% schema %}
{
  "name": "Popup Welcome",
  "class": "popup-welcome",
  "settings": [],
  "presets": [
    {
      "name": "Popup Welcome"
    }
  ]
}
{% endschema %}
