/*basic*/
h2,
.h2 {
    font-size: 26px;
}

.fix-heading h4 * {
    text-transform: uppercase;
    font-weight: 600;
}

.h2-big h2 {
    font-size: 40px;
}

.flex {
    display: flex;
}

.button {
    font-weight: bold;
}

button {
    cursor: pointer;
}


.no-border-r {
    border-radius: 0;
}

.custom-link .link {
    border-bottom: 2px solid black;
    padding-bottom: 4.5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5%;
}

.flex-1 {
    flex: 1
}

.no-template-areas {
    grid-template-areas: unset;
}

.w-100 {
    width: 100%;
}

.m-w-100 {
    max-width: 100%;
}

.max-w-590 {
    max-width: 590px !important;
}

.forced-row {
    flex-direction: row !important;
}

.w-50 {
    width: 50%;
}

.img-cover {
    object-fit: cover;
}

.flex-wrap {
    flex-wrap: wrap;
}

.menu__item .menu-item-icon img {
    width: 12px;
}

.wrapper-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid {
    gap: 20px;
}

.no-gap {
    gap: 0;
}

.mb-4 {
    margin-bottom: 40px;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.contained {
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.shrink-0 {
    flex-shrink: 0;
}

.items-center {
    align-items: center;
}

.horizontal,
.menu--horizontal {
    flex-direction: row;
}

.vertical,
.menu--vertical {
    flex-direction: column;
}

.overflow-hidden {
    overflow: hidden;
}

.dark-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0E0E0ECC;
    position: absolute;
    top: 0;
    left: 0;
}

.dark-overlay>* {
    z-index: 1;
}

/*basic end*/


/*home hero*/
.custom-home-hero {
    min-height: 731px !important;
}

/*product carousel*/



.product-carousel [ref="productTitleLink"] * {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 160%;
}

.product-carousel slideshow-slide {
    min-height: 558px;
}

.product-carousel .product-badges__badge {
    letter-spacing: 0.5px;
}

/*collection grid*/
.collection-grid-item .h5 * {
    text-transform: uppercase;
    font-weight: 600;
}

/*event*/
.event-card .blog-post-details * {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black
}

.fix-post-img-h .image-block {
    min-height: 535px;
}

.event-view-container {}