/*basic*/
h2,
.h2 {
    font-size: 26px;
}

@media only screen and (min-width: 1025px) {
    .topbar {
        z-index: 9;
    }
}



.hide {
    display: none !important;
}

.fix-heading h4 * {
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.uppercase * {
    text-transform: uppercase !important;
}

.divider-red .divider__line {
    --color-border: #FB0101;
    --divider-border-thickness: 3px !important;
}

.circle {
    border-radius: 100%;
}

.h2-big h2,
.h2-big h1 {
    font-size: 40px;
}

.flex {
    display: flex;
}

.button,
.button-secondary {
    font-weight: bold;
    letter-spacing: 5%;
}


.button,
.button-secondary {
    cursor: pointer;
}

.button-secondary {
    --style-border-width-secondary: 2px;
}

.no-border-r {
    border-radius: 0;
}

.bold-red strong {
    color: #FB0101
}

.custom-link .link {
    border-bottom: 2px solid black;
    padding-bottom: 4.5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5%;
}

.uppercase-btn {
    font-weight: 600;
    letter-spacing: 5%;
}

.shopify-section:has(.redish-gradient) .section-background {
    background-image: linear-gradient(114.24deg, #000000 -40.56%, #E40C14 0%, rgba(0, 0, 0, 0) 31.01%)
}

.shopify-section:has(.left-right-overlay) .overlay {
    background-image: linear-gradient(89.81deg, #070605 29.41%, rgba(7, 6, 5, 0) 61.75%);
}


.border-b {
    border-bottom: 1px solid #d9d9d9
}

.border-b-red {
    border-bottom: 1px solid #FB0101;
}

.flex-1 {
    flex: 1
}

.no-template-areas {
    grid-template-areas: unset;
}

.w-100 {
    width: 100%;
}

.m-w-100 {
    max-width: 100%;
}

.max-w-590 {
    max-width: 590px !important;
}

.forced-row {
    flex-direction: row !important;
}

.row-reverse {
    flex-direction: row-reverse;
}

.w-50 {
    width: 50%;
}

.img-cover {
    object-fit: cover;
}

.flex-wrap {
    flex-wrap: wrap;
}

.menu__item .menu-item-icon img {
    width: 12px;
}

.wrapper-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.no-gap {
    gap: 0;
}

.mb-4 {
    margin-bottom: 40px;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.contained {
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.shrink-0 {
    flex-shrink: 0;
}

.items-center {
    align-items: center;
}

.horizontal,
.menu--horizontal {
    flex-direction: row;
}

.vertical,
.menu--vertical {
    flex-direction: column;
}

.overflow-hidden {
    overflow: hidden;
}

.dark-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0E0E0ECC;
    position: absolute;
    top: 0;
    left: 0;
}

.dark-overlay>* {
    z-index: 1;
}

/*basic end*/


/*home hero*/
.custom-home-hero .hero {
    --hero-min-height: 731px;
}

/*product carousel*/



.product-carousel [ref="productTitleLink"] * {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 160%;
    text-transform: uppercase;
}

.product-carousel slideshow-slide {
    min-height: 558px;
}

.product-badges__badge {
    letter-spacing: 0.5px !important;
    font-size: 14px !important;
}

.product-badges {
    display: flex;
    flex-direction: column;
    gap: 10px
}


/*collection grid*/
.collection-grid-item .h5 * {
    text-transform: uppercase;
    font-weight: 600;
}

/*event*/
.event-card .blog-post-details * {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black
}

.fix-post-img-h .image-block {
    min-height: 535px;
}

.event-view-container {
    font-weight: 600;
    text-transform: uppercase;
}

/*subheadings*/
.subheading-red * {
    color: #FB0101;
    text-transform: uppercase;
    letter-spacing: 5%;
}

/*videos arrival*/
.arrival-container .arrival-text {
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 5%;
    line-height: 1;
}

.arrival-container .arrival-red {
    color: var(--color-primary-button-background);
    font-size: 21px;
    letter-spacing: 5%;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
}

/*latests news*/
.latest-news-h>.group-block-content {
    min-height: 500px;
}

/*studio*/
.shopify-section:has(.studio-fix-img) .background-image-container img {
    height: 100%;
    width: 60%;
    right: 0;
    position: absolute;
}

.shopify-section:has(.studio-fix-img.left-right-overlay) .overlay {
    background-image: linear-gradient(89.81deg, #070605 41%, rgba(7, 6, 5, 0) 50%);
}

/*follow us*/
.follow-us-container .circle {
    padding: 10px 11px;
}

/*footer*/
.footer-first .custom-section-content>*>*:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 89px;
    background-color: #D9D9D9;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-cols .footer-content {
    grid-template-columns: repeat(7, 1fr) !important;
    gap: 90px
}

.footer-cols .footer-content>*:last-child {
    grid-column: span 2;
}

.footer-cols .email-signup__input-group {
    flex-direction: column;
    gap: 29px !important;
}

.footer-cols .email-signup__input-group>* {
    width: 100%;
}

.footer-cols .email-signup__input-group input {
    border: 0;
    border-bottom: 1px solid #5C5C5C;
    border-radius: 0;
    padding: 12px;
}

.footer-cols .email-signup__input-group button {
    background-color: transparent;
    border: 1px solid var(--color-primary-button-background);
    color: var(--color-foreground);
}

.footer-cols .email-signup__input-group button:hover {
    background-color: var(--color-primary-button-background);
    color: var(--color-primary-button-text);
}

.last-footer {
    border-top: 1px solid #D9D9D9;
}

.last-footer nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-right: 20px;
    border-right: 1px solid #5C5C5C;
}

.last-footer .menu__item+.menu__item {
    margin-block-start: unset;
}

/*products collection*/

.facets--vertical {
    position: sticky !important;
    top: 121px !important;
}

.product-archive-before .text-block {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.product-archive-before {
    border-bottom: 1px solid #D9D9D9;
}

#facet-inputs-component-filter-v-option-size ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
}

#facet-inputs-component-filter-v-option-size label {
    justify-content: center;
}

#facet-inputs-component-filter-v-option-size .checkbox__label-text {
    padding-left: 0;
}

#facet-inputs-component-filter-v-option-size .checkbox svg {
    display: none;
}


#facet-inputs-component-filter-v-option-size label {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    width: 100%;
}

#facet-inputs-component-filter-v-option-size label:hover,
#facet-inputs-component-filter-v-option-size label:hover .checkbox__label-text {
    background-color: #000000;
    color: white;
}

#facet-inputs-component-filter-v-option-size .checkbox:has(input:checked),
#facet-inputs-component-filter-v-option-size .checkbox:has(input:checked) .checkbox__label-text {

    background-color: #000000;
    color: white;
}

.checkbox .icon-checkmark {
    --checkbox-size: 28px
}

.checkbox__label {
    display: flex;
    align-items: center;
}

.checkbox__label span {
    color: black
}

/* cart */
.cart-summary__inner {
    padding: 0 !important;
}

.cart-summary__inner .free-shipping-bar {
    padding: 20px 30px;
    margin: 0;
    background-color: #F5F5F5;
}

.cart-drawer__dialog shopify-accelerated-checkout-cart {
    display: none;
}

.cart-drawer__dialog {
    --sidebar-width: 700px
}

.cart-items__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px !important;
}

.cart-items__price * {
    font-weight: bold !important;
    font-size: 18px !important;
}

.checkout-black {
    background-color: black;
    color: white;
    padding: 17px 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5%;
}

.checkout-cart-container {
    width: 100%;
}

.checkout-cart-container .payment-icons__list {
    gap: 12px !important;
    justify-content: center;
}

/*blog*/
.blog-archive .blog-post-item {
    --col-span: 2;
}

.blog-archive .blog-post-card {
    flex-direction: column !important;
}

.blog-archive .blog-post-card__image-container img {
    height: 340px;
    width: 100%;
}

.blog-archive .blog-posts-container {
    column-gap: 10px;
}

.blog-archive #meta {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 8px;
}

.blog-archive .tags {
    color: #fb0101;

}

.blog-archive .blog-post-card__content-text {
    align-items: flex-start;
}

.blog-archive .blog-post-card__content-text a {
    padding: 8px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    margin-top: 20px;
    line-height: 160%;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-archive .blog-post-card__content-text a:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.blog-archive .blog-post-card__content-text a:after {
    content: ' ';
    transform: rotate(-45deg);
    display: inline-block;
    border-bottom: 3px solid currentColor;
    border-right: 3px solid currentColor;
    height: 8px;
    width: 8px;
}

.cat-menu .list-unstyled {
    display: flex;
    gap: 16px
}

.cat-menu .list-unstyled li {
    margin-top: 0;
}

.cat-menu a {
    padding: 10px 36px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    border: 1px solid #d9d9d9;
    display: block;
}

.cat-menu .details-content {
    padding: 7px 0;
}

.cat-menu .active,
.cat-menu a:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.faq-items .details {
    background-color: #000000;
    color: white;
    padding: 10px 30px;
    border-block-start: unset !important;
    border-block-end: unset !important
}

.faq-items .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.faq-items .details__header .svg-wrapper {
    background-color: #FB0101;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: white
}

.faq-items [open] {
    padding: 40px 30px;
}

.faq-items .details-content {
    padding-top: 20px;
}

.faq-items [open],
.faq-items .details:hover {
    background-color: #F9F9F9;
    color: #000000;
}

/*about us*/
.about-us-hero {
    min-height: 800px;
}

.below-legacy-about p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5%;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 28px 0;
}

.below-legacy-about .group-block:not(:last-child) {
    border-right: 1px solid;
}

@media only screen and (max-width: 1024px) {

    .w-full-t {
        width: 100%;
    }

    .resource-list__carousel .resource-list__slide {
        --column-count: 2
    }

    .hide-t {
        display: none;
    }

    .w-full-t {
        width: 100%;
    }

    .justify-center-t {
        justify-content: center;
    }

    .m-x-auto {
        margin: auto;
    }

    .col-t,
    .col-t>.group-block-content,
    .col-t>*>.mobile-column {
        flex-direction: column !important;
    }

    .col-t-reverse,
    .col-t-reverse>.group-block-content,
    .col-t-reverse>*>.mobile-column {
        flex-direction: column-reverse !important;
    }

    .grid-posts-cols-2-t .resource-list {
        --resource-list-columns: repeat(2, 1fr) !important;
    }

    .pt-0-t,
    .pt-0-t>.group-block-content,
    .pt-0-t>*>.mobile-column {
        padding-top: 0;
    }

    .payment-icons__list {
        justify-content: center !important;
    }

    .center-t .group-block-content {
        justify-content: center;
        --horizontal-alignment: center !important;
    }
}