.product-accordions .details__header {
    text-transform: uppercase !important;
    font-weight: bold !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pickup-availability__row {
    background-color: #F5F5F5;
    text-align: center;
    justify-content: center;
    padding: 21px;
}

.pickup-location__text-xs,
.pickup-location__text-sm {
    font-size: 16px !important;
}

.pickup-location__button {
    margin: auto;
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: 5%;
    text-transform: uppercase;
    border-bottom: 1px solid;
    line-height: 160%;
}

.pickup-availability__column:first-child {
    display: none;
}

.pickup-availability__row * {
    font-size: 16px;
}

slideshow-controls:has(.slideshow-controls__dots) {
    mix-blend-mode: unset !important;
}

.slideshow-controls__dots {
    background-color: white;
}

.slideshow-control:after {
    background-color: #D9D9D9;
    box-shadow: unset;
    transition: width .5s;
}

.slideshow-control[aria-selected="true"]:after {
    background-color: black;
    width: 45px;
}