/* El atributo hidden oculta el panel */

.tabs__list {
    margin-bottom: 40px;
}

.tabs__panel[hidden] {
    display: none;
}

.tabs__tab[aria-selected="true"] {
    background-color: black;
    color: white;
}